<!DOCTYPE html>
<html lang="es">

<head>
    <title>Galeria</title>
    <meta charset="utf-8">
    <!-- Enlace al archivo externo de estilos (style.css) -->
    <link rel="stylesheet" href="../style/style_base.css">
    <link rel="stylesheet" href="../style/style_galeria.css">
</head>

<body>
    <header>
        <h1>Galeria</h1>
    </header>

    <nav>
        <ul id="menu">
            <li><a href="../index.html" id="inicio">Inicio</a></li>
            <li><a href="galeria.html" id="galeria">Galeria</a></li>
            <li><a href="presupuesto.html" id="presupuestos">Presupuestos</a></li>
            <li><a href="contacto.html" id="contacto">Contacto</a></li>
        </ul>
    </nav>

    <h1>Galería de Imágenes</h1>

    <!-- Contenedor de la galería -->
    <div id="galeria-container" class="galeria-container"></div>

    <script src="../js/galeria.js"></script> 
    <footer>
        <div class="footer-content">
            <!-- Redes sociales -->
            <div class="social-media">
                <a href="https://www.facebook.com/" target="_blank" class="social-icon">
                    <img src="../Imagenes/Facebook.png" alt="Facebook">
                </a>
                <a href="https://www.twitter.com/" target="_blank" class="social-icon">
                    <img src="../Imagenes/Twitter.png" alt="Twitter">
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="social-icon">
                    <img src="../Imagenes/Instagram.png" alt="Instagram">
                </a>
                <a href="https://www.linkedin.com/" target="_blank" class="social-icon">
                    <img src="../Imagenes/LinkedIn.png" alt="LinkedIn">
                </a>
            </div>

            <!-- Dirección de la empresa -->
            <div class="address">
                <p>Dirección: Calle Ejemplo 123, Ciudad, País</p>
            </div>

            <!-- Aviso Legal -->
            <div class="legal-notice">
                <a href="/aviso-legal.html">Aviso Legal</a>
            </div>
        </div>
    </footer>
</body>

</html>
